*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.all-body{
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.taking-input{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  flex-direction: column;
}
.taking-input h1 {
  text-align: center;
  font-size: 52px;
  line-height: 65px;
  color: #C5B92D;
}
.taking-input input {
  width: 100%;
  height: 50px;
  border: 2px solid #050505;
  border-radius: 0;
  color: #C5B92D;
  font-size: 18px;
  line-height: 50px;
  padding-left: 30px
}
.show-possible-words {

  width: 100%;
  text-align: center;
}
.word-lists {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  margin: 0 auto;
}
.word-lists li {
  height: 30px;
  min-width: 100px;
  line-height: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.word-lists li .yellow-circle {
  width: 10px;
  height: 10px;
  margin-right: 30px;
  background-color: #C5B92D;
  border-radius: 50%;
}
